.button {
  background-color: Transparent;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}

.game-header {
  padding: 50px;
  color: white;
}

#dialogue {
  padding: 50px;
}

.col-md-3 {
  height: 50%;
}

#step1 {
  background-image: url("../images/left.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#step2 {
  background-image: url("../images/up.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#step3 {
  background-image: url("../images/down.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#step4 {
  background-image: url("../images/right.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.step-tag {
  padding-left: 50px;
  font-size: 24px;
  color: white;
}

.description {
  font-size: 24px;
  padding: 50px;
  color: white;
  position: relative;
}

.background {
  width: 100%;
  height: 100%;
  background-color: #800080;
}
