html {
	height: 102%;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	background-color: #110011;
	font-size: 18px;
	margin: 0px;
	word-wrap: break-word;
}

.animate-text {
	background: -webkit-linear-gradient(144deg, #e017ff, #ff6e48);
	background-size: 400% 400%;
  	-webkit-text-fill-color: transparent;
  	background-clip: text;
  	-moz-background-clip: text;
  	-webkit-background-clip: text;
	-webkit-animation: gradient 4s ease infinite;
	-moz-animation: gradient 4s ease infinite;
	-o-animation: gradient 4s ease infinite;
	animation: gradient 4s ease infinite;
}

@-webkit-keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@font-face {
    font-family: 'alba';
    src: url('../fonts/alba_reg.TTF');
}

span#title {
	font-family: 'alba';
	font-weight: normal;
	font-size: 50px;
	line-height: 1.5em;
	margin: 0px;
	/*margin-bottom: 10px;*/
}

.button {
  background-color: Transparent;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}

.game-header {
  margin-top: 0;
  padding-bottom: 20px;
  color: white;
}

.playpause-instructions {
  font-size: 18px;
}

#dialogue {
  padding: 50px;
}

.col-md-3 {
  position: absolute;
  height: 20%;
  width: 150px;
}

.moving {
  top: 550px;
}

#left {
  left: 12.5%;
  background-image: url("../images/left.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#down {
  left: 32.5%;
  background-image: url("../images/down.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#up {
  left: 52.5%;
  background-image: url("../images/up.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#right {
  left: 72.5%;
  background-image: url("../images/right.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.step-tag {
  padding-left: 50px;
  font-size: 24px;
  color: white;
}

.description {
  font-size: 24px;
  padding: 50px;
  color: white;
  position: relative;
}

.background {
  width: 100%;
  height: 100%;
  background-color: #800080;
}

#score {
  color: black;
  font-size: 48px;
}

#scoreChange {
  font-size: 48px;
}

.playpause {
    background-image:url(https://cdn4.iconfinder.com/data/icons/defaulticon/icons/png/256x256/media-play-pause-resume.png);
    background-repeat:no-repeat;
    width:50%;
    height:50%;
    position:relative;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
    border-style: solid;
    background-color: rgba(255,255,255,0.3) ;
}

.playpauseText {
  width: 100%;
  font-size: 48px;
  color: black;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.buttondiv {
  width: 100%;
  padding-left: 40%
}

.playButton {
  width: 250px;
  height: 100px;
}

.details {
  width: 250px;
  height: 80px;
}

#whatDevice {
  font-size: 20px;
}
