
.button {
  background-color: Transparent;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}

.game-header {
  padding: 50px;
  color: white;
}

#dialogue {
  padding: 50px;
}

.col-md-3 {
  position: absolute;
  height: 20%;
  width: 150px;
}

.moving {
  top: 600px;
}

#left {
  left: 12.5%;
  background-image: url("../images/left.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#down {
  left: 32.5%;
  background-image: url("../images/down.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#up {
  left: 52.5%;
  background-image: url("../images/up.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#right {
  left: 72.5%;
  background-image: url("../images/right.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.step-tag {
  padding-left: 50px;
  font-size: 24px;
  color: white;
}

.description {
  font-size: 24px;
  padding: 50px;
  color: white;
  position: relative;
}

.background {
  width: 100%;
  height: 100%;
  background-color: #800080;
}

#score {
  color: black;
  font-size: 48px;
}

#scoreChange {
  font-size: 48px;
}

.playpause {
    background-image:url(http://png-4.findicons.com/files/icons/2315/default_icon/256/media_play_pause_resume.png);
    background-repeat:no-repeat;
    width:50%;
    height:50%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
}
